<!DOCTYPE html>
<html style="font-size: 16px;">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="We live to turn great ideas, Key Features, What We Do, Our Portfolio">
    <meta name="description" content="">
    <meta name="page_type" content="np-template-header-footer-from-plugin">
    <title>Our Journey</title>
    <link rel="stylesheet" href="style1.css" media="screen">
    <link rel="stylesheet" href="style2.css" media="screen">
    <link href="{{ url_for('templates', path='style1.css') }}" rel="stylesheet">
    <link href="{{ url_for('templates', path='style2.css') }}" rel="stylesheet">
    <script class="u-script" type="text/javascript" src="code1.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="code2.js" defer=""></script>
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i|Bai+Jamjuree:200,200i,300,300i,400,400i,500,500i,600,600i,700,700i">



    </script>
    <meta name="theme-color" content="#e84a90">
    <meta property="og:title" content="Our Journey">
    <meta property="og:type" content="website">
</head>

<body class="u-body u-xl-mode">
    <header class="u-align-center-sm u-align-center-xs u-clearfix u-grey-10 u-header u-header" id="sec-dd13">
        <div class="u-align-left u-clearfix u-sheet u-sheet-1"></div>
    </header>
    <section class="u-clearfix u-image u-shading u-section-1" id="carousel_b893" data-image-width="1280" data-image-height="853">
        <div class="u-clearfix u-sheet u-sheet-1">
            <div class="u-clearfix u-expanded-width u-gutter-0 u-layout-spacing-vertical u-layout-wrap u-layout-wrap-1">
                <div class="u-gutter-0 u-layout">
                    <div class="u-layout-row">
                        <div class="u-size-54">
                            <div class="u-layout-col">
                                <div class="u-align-left u-container-style u-layout-cell u-left-cell u-size-60 u-layout-cell-1">
                                    <div class="u-container-layout u-container-layout-1">
                                        <p class="u-align-center u-large-text u-text u-text-variant u-text-1"> We live to turn great view into humans reality and minds</p>
                                        <div class="u-list u-list-1">
                                            <div class="u-repeater u-repeater-1">
                                                <div class="u-align-center u-container-style u-list-item u-repeater-item u-list-item-1">
                                                    <div class="u-container-layout u-similar-container u-container-layout-2"><span class="u-align-left u-file-icon u-icon u-icon-rounded u-palette-2-light-1 u-radius-10 u-spacing-22 u-icon-1" data-href="index.html#carousel_64ac" data-page-id="285820805"><img src="images/148925.png" alt=""></span>
                                                        <h5 class="u-text u-text-default u-text-2">Our Journey</h5>
                                                    </div>
                                                </div>
                                                <div class="u-align-center u-container-style u-list-item u-repeater-item u-list-item-2">
                                                    <div class="u-container-layout u-similar-container u-container-layout-3"><span class="u-align-left u-file-icon u-icon u-icon-rounded u-palette-2-light-1 u-radius-10 u-spacing-22 u-icon-2" data-href="index.html#sec-0f57" data-page-id="285820805"><img src="images/149063.png" alt=""></span>
                                                        <h5 class="u-text u-text-default u-text-3">About us</h5>
                                                    </div>
                                                </div>
                                                <div class="u-align-center u-container-style u-list-item u-repeater-item u-list-item-3">
                                                    <div class="u-container-layout u-similar-container u-container-layout-4"><span class="u-align-left u-file-icon u-icon u-icon-rounded u-palette-2-light-1 u-radius-10 u-spacing-22 u-icon-3" data-href="index.html#carousel_800e" data-page-id="285820805"><img src="images/148843.png" alt=""></span>
                                                        <h5 class="u-text u-text-default u-text-4">A little story</h5>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="u-size-6">
                            <div class="u-layout-row">
                                <div class="u-align-left u-container-style u-layout-cell u-right-cell u-size-60 u-layout-cell-2">
                                    <div class="u-container-layout u-container-layout-5"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="u-align-center u-clearfix u-grey-10 u-section-2" id="carousel_64ac">
        <div class="u-clearfix u-sheet u-sheet-1">
            <h2 class="u-text u-text-default u-text-1">What We Do</h2><span class="u-file-icon u-icon u-icon-1"><img src="images/149062.png" alt=""></span><span class="u-file-icon u-icon u-icon-2"><img src="images/148922.png" alt=""></span>
            <p class="u-large-text u-text u-text-variant u-text-2">
                <span style="font-size: 1.875rem;"> We make an extensive overview of the surrounding celebration and bring perception by another generation, the one that will bring peace </span>
                <br>
            </p>
            <img class="u-image u-image-default u-image-1" src="images/landscape-forest-nature-green-valley-wilderness-jungle-Terrain-mountain-screenshot-computer-wallpaper-mountainous-landforms-landform-geographical-feature-mountain-range-1920x1142-px-697078.jpg"
                alt="" data-image-width="1920" data-image-height="1142">
        </div>
    </section>
    <section class="u-clearfix u-grey-10 u-section-3" id="sec-0f57">
        <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
            <div class="u-clearfix u-expanded-width u-gutter-64 u-layout-wrap u-layout-wrap-1">
                <div class="u-layout">
                    <div class="u-layout-row">
                        <div class="u-size-21">
                            <div class="u-layout-col">
                                <div class="u-container-style u-image u-layout-cell u-left-cell u-size-30 u-image-1" data-image-width="1280" data-image-height="973">
                                    <div class="u-container-layout u-container-layout-1"></div>
                                </div>
                                <div class="u-container-style u-layout-cell u-left-cell u-size-30 u-layout-cell-2">
                                    <div class="u-container-layout u-valign-middle u-container-layout-2"><span class="u-file-icon u-icon u-icon-1"><img src="images/149057.png" alt=""></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="u-size-19">
                            <div class="u-layout-col">
                                <div class="u-container-style u-layout-cell u-palette-5-light-3 u-size-60 u-layout-cell-3">
                                    <div class="u-container-layout u-container-layout-3">
                                        <h3 class="u-text u-text-default u-text-1">About Us</h3>
                                        <p class="u-large-text u-text u-text-variant u-text-2">
                                            <span style="font-size: 1.875rem;">We strive to bring into your imagination the existence of the world around us in a different form, in the form of the beauty of existence. </span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="u-size-20">
                            <div class="u-layout-col">
                                <div class="u-container-style u-image u-layout-cell u-right-cell u-size-20 u-image-2" data-image-width="1200" data-image-height="750">
                                    <div class="u-container-layout u-container-layout-4"></div>
                                </div>
                                <div class="u-container-style u-gradient u-layout-cell u-right-cell u-size-20 u-layout-cell-5">
                                    <div class="u-container-layout u-valign-middle u-container-layout-5"><span class="u-icon u-icon-2"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 52.966 52.966" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-0d08"></use></svg><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content" viewBox="0 0 52.966 52.966" x="0px" y="0px" id="svg-0d08" style="enable-background:new 0 0 52.966 52.966;"><circle style="fill:#57ABC1;" cx="21.983" cy="21" r="20"></circle><line style="fill:none;stroke:#556080;stroke-width:2;stroke-linecap:round;stroke-miterlimit:10;" x1="35.437" y1="35.798" x2="50.983" y2="51.966"></line><path style="fill:#7CCBD8;" d="M3.002,27.253c0.848,2.582,2.24,5.018,4.167,7.146L35.382,6.186
	c-2.129-1.928-4.564-3.319-7.146-4.167L3.002,27.253z"></path><path style="fill:#556080;" d="M21.983,42c-11.58,0-21-9.42-21-21s9.42-21,21-21s21,9.42,21,21S33.562,42,21.983,42z M21.983,2
	c-10.477,0-19,8.523-19,19s8.523,19,19,19s19-8.523,19-19S32.459,2,21.983,2z"></path></svg></span>
                                    </div>
                                </div>
                                <div class="u-container-style u-image u-layout-cell u-right-cell u-size-20 u-image-3" data-image-width="1929" data-image-height="1023">
                                    <div class="u-container-layout u-container-layout-6"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="u-align-center u-clearfix u-grey-10 u-section-4" id="carousel_800e">
        <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
            <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
                <div class="u-gutter-0 u-layout">
                    <div class="u-layout-row">
                        <div class="u-container-style u-image u-layout-cell u-size-35 u-image-1" data-image-width="1280" data-image-height="855">
                            <div class="u-container-layout u-container-layout-1"></div>
                        </div>
                        <div class="u-align-left u-container-style u-layout-cell u-palette-5-light-3 u-size-25 u-layout-cell-2">
                            <div class="u-container-layout u-valign-bottom u-container-layout-2">
                                <h3 class="u-text u-text-1">A little story</h3>
                                <p class="u-large-text u-text u-text-variant u-text-2">
                                    <span style="font-weight: 700;"><span class="u-icon"><svg class="u-svg-content" viewBox="0 0 56 56" x="0px" y="0px" style="width: 1em; height: 1em;"><path d="M25,46H10.845C4.865,46,0,41.135,0,35.154C0,31,2.705,26.688,6.433,24.901L7,24.63V24c0-0.127,0.008-0.256,0.015-0.386
	l0.009-0.16l-0.012-0.21C7.006,23.163,7,23.082,7,23c0-3.859,3.141-7,7-7c0.309,0,0.614,0.027,0.917,0.067
	c0.078,0.01,0.156,0.023,0.233,0.036c0.267,0.044,0.53,0.102,0.789,0.177c0.035,0.01,0.071,0.017,0.106,0.027
	c0.285,0.087,0.563,0.197,0.835,0.321c0.071,0.032,0.14,0.067,0.21,0.101c0.24,0.119,0.475,0.249,0.702,0.396
	C19.719,18.373,21,20.538,21,23c0,0.553,0.447,1,1,1s1-0.447,1-1c0-2.754-1.246-5.219-3.2-6.871C22.667,12.379,27.388,10,32.085,10
	c7.745,0,14.177,6.135,14.848,13.888c-1.022-0.072-2.552-0.109-4.083,0.124c-0.546,0.083-0.921,0.593-0.838,1.139
	c0.075,0.495,0.501,0.85,0.987,0.85c0.05,0,0.101-0.004,0.151-0.012c2.227-0.337,4.548-0.021,4.684-0.002
	C52.49,26.872,56,31.161,56,35.972C56,41.501,51.501,46,45.972,46H33H25z"></path></svg><img></span>
                                    <span style="font-weight: 400;">&nbsp;Our</span>
                                    <span style="font-weight: 400;">&nbsp;harbinger began to appear from the depths of the seas and oceans, forests and steppes, clouds and earth.</span>
                                    </span>
                                </p>
                                <div class="u-border-3 u-border-grey-40 u-container-style u-expanded-width u-group u-palette-5-light-3 u-group-1">
                                    <div class="u-container-layout u-valign-middle u-container-layout-3">
                                        <h1 class="u-align-center u-text u-text-default u-text-3">That is what it is</h1>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="u-clearfix u-grey-10 u-section-5" id="carousel_67e8">
        <div class="u-clearfix u-sheet u-valign-middle-md u-sheet-1">
            <div class="u-gallery u-layout-grid u-lightbox u-no-transition u-show-text-on-hover u-gallery-1">
                <div class="u-gallery-inner u-gallery-inner-1">
                    <div class="u-effect-fade u-gallery-item">
                        <div class="u-back-slide" data-image-width="1280" data-image-height="853">
                            <img class="u-back-image u-expanded" src="images/6ee3444c2e1ef3cea12b3df4697388d0c74a36ea7265351a3cf88a51391d29c76158e4a83f02112fc999949c549d6cb32662f1d4edbc9368fbd201_1280.jpg">
                        </div>
                        <div class="u-over-slide u-shading u-over-slide-1">
                            <h3 class="u-gallery-heading"></h3>
                            <p class="u-gallery-text"></p>
                        </div>
                    </div>
                    <div class="u-effect-fade u-gallery-item">
                        <div class="u-back-slide" data-image-width="1280" data-image-height="852">
                            <img class="u-back-image u-expanded" src="images/2f589e6e5a29e100b7c5071fb0894789a805c14cc8d6bb765d18b4b9ae9e3cbc9adfbcaecfdcae953d42988ee32697bfc66ce7a78cdacb59e52d77_1280.jpg">
                        </div>
                        <div class="u-over-slide u-shading u-over-slide-2">
                            <h3 class="u-gallery-heading"></h3>
                            <p class="u-gallery-text"></p>
                        </div>
                    </div>
                    <div class="u-effect-fade u-gallery-item">
                        <div class="u-back-slide" data-image-width="1280" data-image-height="853">
                            <img class="u-back-image u-expanded" src="images/ea787a642dcd16ac7de8be7f75967b641c1c913ce5ab3042d1c4a3de721efd245dcb714d80aa66fc497b2ad4b8eb50090e63147ffa6eac31cec42e_1280.jpg">
                        </div>
                        <div class="u-over-slide u-shading u-over-slide-3">
                            <h3 class="u-gallery-heading"></h3>
                            <p class="u-gallery-text"></p>
                        </div>
                    </div>
                    <div class="u-effect-fade u-gallery-item">
                        <div class="u-back-slide" data-image-width="1280" data-image-height="853">
                            <img class="u-back-image u-expanded" src="images/1010faabdaa660aff5761427d36199c97da2f0d892c66fde3a24f59f4b18d312a98ad6f5d6f82291f682e2a360fcaff98e0258d1af32a82484f28a_1280.jpg">
                        </div>
                        <div class="u-over-slide u-shading u-over-slide-4">
                            <h3 class="u-gallery-heading"></h3>
                            <p class="u-gallery-text"></p>
                        </div>
                    </div>
                    <div class="u-effect-fade u-gallery-item">
                        <div class="u-back-slide" data-image-width="1280" data-image-height="853">
                            <img class="u-back-image u-expanded" src="images/f3f4ecb607fc84cae2ada34f84fbc0ebdf7aa406da6bfa21ae6dfe92e43a488863e59a79e24030ce4626dacac59a521e5b04f776e5ebb77fde1e89_1280.jpg">
                        </div>
                        <div class="u-over-slide u-shading u-over-slide-5">
                            <h3 class="u-gallery-heading"></h3>
                            <p class="u-gallery-text"></p>
                        </div>
                    </div>
                    <div class="u-effect-fade u-gallery-item">
                        <div class="u-back-slide" data-image-width="1280" data-image-height="853">
                            <img class="u-back-image u-expanded" src="images/b421a49d573e58cd439fa9cf99fed5cd731c631f8861db378c293f8276e30f04138dce8cefe7d2183c328953d1773f4bbea8df7310f1ef7858affb_1280.jpg">
                        </div>
                        <div class="u-over-slide u-shading u-over-slide-6">
                            <h3 class="u-gallery-heading"></h3>
                            <p class="u-gallery-text"></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="u-container-style u-group u-palette-5-light-3 u-group-1">
                <div class="u-container-layout u-valign-middle u-container-layout-1">
                    <p class="u-align-center u-large-text u-text u-text-variant u-text-1"> This is what we live, what we move. Every step we take represents development and advancement. Each photo represents a direction. Every moment is puzzled by these impulses of nature. This is what we are.</p>
                </div>
            </div>
        </div>
    </section>


    <footer class="u-align-center u-clearfix u-footer u-grey-80 u-footer" id="sec-5185">
        <div class="u-clearfix u-sheet u-sheet-1">
        </div>
    </footer>
    <section class="u-backlink u-clearfix u-grey-80">
    </section>
</body>

</html>