 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("images/c877267c9e9f893f14b2e3f09061c490e581a4a07dcd8db8639ad1105288832694506620c18d4c54fe5ebcae1ed779b963b8ee1092155567bb7e2a_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 746px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 15px;
  margin-bottom: 7px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 984px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-text-1 {
  font-size: 2.25rem;
  margin: 268px 37px 0 151px;
}

.u-section-1 .u-list-1 {
  width: 1140px;
  margin: 110px -114px 0 auto;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 10px) calc(33.3333% - 10px) calc(33.3333% - 10px);
  min-height: 360px;
  grid-gap: 15px 15px;
}

.u-section-1 .u-list-item-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 30px 30px;
}

.u-section-1 .u-icon-1 {
  height: 88px;
  width: 88px;
  background-image: none;
  box-shadow: 7px -7px 0px 0 rgba(239,125,175,0.4);
  margin: 30px auto 0;
}

.u-section-1 .u-text-2 {
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 34px auto 0;
}

.u-section-1 .u-list-item-2 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 0 30px 30px;
}

.u-section-1 .u-icon-2 {
  height: 88px;
  width: 88px;
  background-image: none;
  box-shadow: 7px -7px 0px 0 rgba(239,125,175,0.4);
  margin: 30px auto 0;
}

.u-section-1 .u-text-3 {
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 34px auto 0;
}

.u-section-1 .u-list-item-3 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 0 30px 30px;
}

.u-section-1 .u-icon-3 {
  height: 88px;
  width: 88px;
  background-image: none;
  box-shadow: 7px -7px 0px 0 rgba(239,125,175,0.4);
  margin: 30px auto 0;
}

.u-section-1 .u-text-4 {
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 34px auto 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 984px;
}

.u-section-1 .u-container-layout-5 {
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 495px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 811px;
  }

  .u-section-1 .u-text-1 {
    font-family: "Open Sans", sans-serif;
    margin-right: 0;
    margin-left: 75px;
  }

  .u-section-1 .u-list-1 {
    width: 533px;
    margin-right: 0;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 10px));
    min-height: 170px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 811px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 170px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
  }

  .u-section-1 .u-list-1 {
    width: 420px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 7.5px));
    min-height: 402px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 597px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 310px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 1075px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 243px;
  }

  .u-section-1 .u-list-1 {
    width: 340px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 677px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 1015px;
}

.u-section-2 .u-text-1 {
  font-weight: 400;
  margin: 60px auto 0;
}

.u-section-2 .u-icon-1 {
  width: 103px;
  height: 103px;
  margin: -23px auto 0 985px;
}

.u-section-2 .u-icon-2 {
  width: 91px;
  height: 91px;
  margin: -97px auto 0 52px;
}

.u-section-2 .u-text-2 {
  width: 651px;
  margin: -22px auto 0;
}

.u-section-2 .u-image-1 {
  width: 938px;
  height: 523px;
  margin: 20px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-icon-1 {
    margin-left: 812px;
  }

  .u-section-2 .u-text-2 {
    line-height: 32px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 894px;
  }

  .u-section-2 .u-icon-1 {
    margin-left: 622px;
  }

  .u-section-2 .u-image-1 {
    width: 720px;
    height: 402px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 794px;
  }

  .u-section-2 .u-icon-1 {
    margin-left: 467px;
  }

  .u-section-2 .u-text-2 {
    width: 540px;
  }

  .u-section-2 .u-image-1 {
    width: 540px;
    height: 302px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 682px;
  }

  .u-section-2 .u-icon-1 {
    margin-left: 294px;
  }

  .u-section-2 .u-text-2 {
    width: 340px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 190px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 1190px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-3 .u-image-1 {
  min-height: 474px;
  background-image: url("images/fantasy-1481184_1280.jpg");
}

.u-section-3 .u-container-layout-1 {
  padding: 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 473px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-icon-1 {
  width: 225px;
  height: 225px;
  margin: 0 auto;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 947px;
  background-image: none;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px 30px 30px 38px;
}

.u-section-3 .u-text-1 {
  margin-top: 24px;
  margin-bottom: 0;
}

.u-section-3 .u-text-2 {
  margin: 16px 0 0;
}

.u-section-3 .u-image-2 {
  min-height: 315px;
  background-image: url("images/scale_1200.jpg");
}

.u-section-3 .u-container-layout-4 {
  padding: 30px 0 0;
}

.u-section-3 .u-layout-cell-5 {
  min-height: 316px;
}

.u-section-3 .u-container-layout-5 {
  padding: 12px 30px;
}

.u-section-3 .u-icon-2 {
  width: 166px;
  height: 166px;
  margin: 0 auto;
}

.u-section-3 .u-image-3 {
  min-height: 315px;
  background-image: url("images/341580-sepik.jpg");
}

.u-section-3 .u-container-layout-6 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1024px;
  }

  .u-section-3 .u-image-1 {
    min-height: 391px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 390px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 781px;
  }

  .u-section-3 .u-image-2 {
    min-height: 260px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 261px;
  }

  .u-section-3 .u-image-3 {
    min-height: 260px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 891px;
  }

  .u-section-3 .u-image-1 {
    min-height: 299px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 299px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-image-2 {
    min-height: 199px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 200px;
  }

  .u-section-3 .u-image-3 {
    min-height: 199px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2919px;
  }

  .u-section-3 .u-image-1 {
    min-height: 641px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 641px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-image-2 {
    min-height: 448px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-top: 8px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 450px;
  }

  .u-section-3 .u-image-3 {
    min-height: 448px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1898px;
  }

  .u-section-3 .u-image-1 {
    min-height: 404px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 404px;
  }

  .u-section-3 .u-image-2 {
    min-height: 282px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 283px;
  }

  .u-section-3 .u-image-3 {
    min-height: 282px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 813px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-4 .u-image-1 {
  min-height: 685px;
  background-image: url("images/10-7.jpg");
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 685px;
}

.u-section-4 .u-container-layout-2 {
  padding: 0 0 30px;
}

.u-section-4 .u-text-1 {
  text-transform: none;
  font-weight: 400;
  margin: 213px 30px 0;
}

.u-section-4 .u-text-2 {
  font-size: 1.875rem;
  margin: 30px 30px 0;
}

.u-section-4 .u-group-1 {
  min-height: 113px;
  height: auto;
  margin-top: 63px;
  margin-bottom: 0;
}

.u-section-4 .u-container-layout-3 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-4 .u-text-3 {
  font-size: 1.875rem;
  font-weight: normal;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 693px;
  }

  .u-section-4 .u-image-1 {
    min-height: 565px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 565px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-2 {
    letter-spacing: normal;
    line-height: 48px;
    font-weight: normal;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-group-1 {
    height: auto;
  }

  .u-section-4 .u-text-3 {
    margin-top: 37px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 561px;
  }

  .u-section-4 .u-image-1 {
    min-height: 433px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-top: 25px;
    padding-right: 18px;
    padding-bottom: 25px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 785px;
  }

  .u-section-4 .u-image-1 {
    min-height: 557px;
  }

  .u-section-4 .u-container-layout-2 {
    padding: 50px 30px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 579px;
  }

  .u-section-4 .u-image-1 {
    min-height: 351px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 30px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 1315px;
}

.u-section-5 .u-gallery-1 {
  width: 1044px;
  height: 711px;
  grid-gap: 10px 10px;
  margin: 202px auto 0;
}

.u-section-5 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
  grid-gap: 16px;
}

.u-section-5 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-group-1 {
  width: 1044px;
  min-height: 304px;
  height: auto;
  margin: 33px auto 60px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-text-1 {
  font-size: 1.875rem;
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1244px;
  }

  .u-section-5 .u-gallery-1 {
    width: 940px;
    height: 640px;
  }

  .u-section-5 .u-group-1 {
    width: 940px;
    height: auto;
  }

  .u-section-5 .u-text-1 {
    line-height: 48px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1707px;
  }

  .u-section-5 .u-gallery-1 {
    width: 720px;
    height: 1103px;
  }

  .u-section-5 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }

  .u-section-5 .u-group-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 3913px;
  }

  .u-section-5 .u-gallery-1 {
    width: 540px;
    height: 3309px;
  }

  .u-section-5 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }

  .u-section-5 .u-group-1 {
    width: 540px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 2687px;
  }

  .u-section-5 .u-gallery-1 {
    width: 340px;
    height: 2083px;
  }

  .u-section-5 .u-group-1 {
    width: 340px;
  }
}